@font-face {
	font-family: "orator";
    src: url('/fonts/orator-webfont.eot');
    src: url('/fonts/orator-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/orator-webfont.svg#orator_webfont') format('svg')
    url('/fonts/orator-webfont.woff') format('woff'),
    url('/fonts/orator-webfont.woff2') format('woff2'),
    url('/fonts/orator-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, 
body {
	background-color: #F8F2DA;
	color: #666666;
	font-family: 'Abel', sans-serif;
	font-size: 102%;
	height: 100%;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'orator';
  color: #333;
}

.container_welcome{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-image: url('/images/pineapple_white.png'); 
  background-repeat: no-repeat; 
  background-position: center;
  background-size: auto;
}

.container_login{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-image: url('/images/pineapple_grey.png'); 
  background-repeat: no-repeat; 
  background-position: center;
  background-size: auto;
}

.my-block {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 8px 15px;
  font-size: 18px;
  line-height: 35px;
  color: white;
  font-family: 'orator';
}

.navbar-custom {
    background-color: #367588;
    font-family: 'orator';
}

.nav li:active, .nav li: {
  background-color: #367588 !important;
}

.nav a, .navbar-header a {
    color: #ffffff;
}


.nav li.active {
  background-color: #eeeeee;
}

.nav li.active a{
  color: #367588;
}
.navbar-nav > li > a:focus {
  background-color: transparent;
  text-decoration: none;
}

.navbar-nav > li > a:hover {
  background-color: #eeeeee;
  color: #367588;
}

.voffset  { 
	margin-top: 100px; 
}

.btn-custom {
  color: #ffffff;
  background-color: #367588;
  border-color: #ccc;
}

.navbar-collapse {
  padding-right: 15px;
  padding-left: 8px;
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
          }

.navbar-collapse-custom {
  color: #ffffff;
  background-color: #367588;
  border-color: #ccc;
}
.jumbotron h1, .jumbotron h3 {
  color: #fff;
}

#home-jumbotron {
  background: url(/images/welcome.jpg) bottom center;
  background-size: cover;
}

#about-jumbotron {
  background: url(/images/about_us.jpg) top 40% center;
  background-size: cover;
}

#weekend-jumbotron {
  background: url(/images/event.jpg) bottom 80% center;
  background-size: cover;
}

#travel-jumbotron {
  background: url(/images/travel.jpg) bottom 55% center;
  background-size: cover;
}

#rsvp-jumbotron {
  background: url(/images/rsvp.jpg) bottom 55% center;
  background-size: cover;
  color: #666666
}

#registry-jumbotron {
  background: url(/images/registry.jpg) top 40% center;
  background-size: cover;
}

#explore-jumbotron {
  background: url(/images/explore.jpg) top 20% center;
  background-size: cover;
}

.navtarget {
  padding-top: 50px;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #F8F2DA;
}